@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    padding:0;
    margin:0;
}
:root{
    --black:rgba(0, 0, 0, .5);
    --white:rgba(255, 255, 255, .8);
}
html{
    overflow: hidden;
}
body{
    background-color:rgba(0, 0, 0, .9);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    font-family: 'Albert Sans', sans-serif;
    color:white;
}
.container{
    width: 40vw;
    height: 90vh;
    margin:auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32,33,36);
    box-shadow: 0px 0px 10px rgba(250, 0, 0, .5);
}
.melas-todo{
    margin:3% 0;
}
.input-div{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-input{
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
    margin-left: 3%;
    background-color: var(--black);
    color:white;
    width: 49%;
    font-size: 1.2rem;
    transition:padding 250ms;
}
.user-input::placeholder{
    color:var(--white);
}
.user-input:focus{
    outline:none;
}
.user-input:hover{
    padding:13px 18px;
}
.add-task{
    padding:10px 25px;
    background-color: var(--black);
    color:white;
    border:none;
    border-radius:10px;
    font-size: 1.2rem;
    cursor:pointer;
    margin-right: 3%;
    transition: transform 200ms;
}
.add-task:hover{
    transform: translate(4px, -4px);
}
.tasks-h1{
    margin:3% 0;
}
.tasks-div{
    width: 90%;
    height: 90%;
}
.task{
    padding:15px 10px;
    background-color: var(--black);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 3%;
}
.task-input{
    background:none;
    border:none;
    color:white;
    font-size: 1.2rem;
}
.task-input:focus{
    outline:0;
    border-bottom: 1px solid white;
}
.buttons-div{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.save, .edit, .delete{
    background-color: var(--black);
    color:white;
    font-size: 1.2rem;
    border:none;
    padding:10px 15px;
    border-radius: 10px;
    cursor:pointer;
}
.disabled{
    opacity: .2;
    cursor: not-allowed;
}
@media(max-width:1280px){
    .container{
        width:60vw;
    }
}
@media(max-width:1024px){
    .container{
        width: 80vw;
    }
}
@media(max-width:820px){
    .container{
        width: 95vw;
    }
}
@media(max-width:412px){
    body{
        overflow: hidden;
    }
    .container{
        width: 100vw;
        height: 100vh;
        border-radius:0;
    }
    .melas-todo{
        margin-top:5%;
    }
    .input-div{
        width: 100%;
    }
    .user-input, .add-task{
        font-size: 1rem;
    }
    .tasks-div{
        width: 100%;
    }
    .task{
        width: 100%;
        margin-left:0;
    }
    .task-input{
        font-size: 1rem;
    }
    .buttons-div{
        /* background-color: red; */
        width: 50%;
        margin-right: 15px;
    }
    .save, .edit, .delete{
        font-size: 1rem;
    }
}
@media(max-width:360px){
    .task{
        height: 20%;
        display: flex;
        align-items: center;
    }
    .task-input{
        font-size: 1.1rem;
    }
    .buttons-div{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: -10%;
    }
}